@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

.body {
    margin: 0;
    padding: 0;
}

header {
    height: 50;
}

.flex_head {
    display: flex;
}

.logo_style {
    border-radius: 100%;
    height: 50px;
    padding: 20px;
    vertical-align: middle;
}

.center_title {
    font-family: 'Nunito', sans-serif;
    vertical-align:middle;
    padding: 5px;
}

.container {
    height: 360px;
    position: relative;
}

.container img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    position: absolute;
}

.container h1 {
    font-family: 'Nunito', sans-serif;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 0%;
    margin-bottom: 0%;
    top: 140px;
    font-size: 80px;
}

.homepage_content {
    display: flex;
}

.homepage_content_width {
    width: 70%;
}

.three {
    width: 30%;
}

.title_homepage {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
}

.img_homepage {
    width: 60%;
    margin: 20%;
    border-radius: 100%;
}