body {
    background-color: #283618;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.warn {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    background-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
#title {
    font-family: 'Nunito', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
.isi {
    font-family: 'Nunito', sans-serif;
    color: #FEFAE0;
}

a {
    color: #FEFAE0;
}